/*FORMS*/
.form-control {
    border-color: #b6b6b6;
    font-weight: 300;
}

.form-control:focus {
    border-color: #b6b6b6;
    box-shadow: 0 0 0 .25rem rgba(10, 9, 8, 0.25);
}

.btn-close:focus {
    box-shadow: 0 0 0 .25rem rgba(10, 9, 8, 0.25);
}

/*MENU SECTION*/
.nav-link, .nav-link:hover {
    color: white;
}

.scroller {
    scrollbar-color: #fff #141414;
}

td {
    padding-right: 25px;
}

.title-sub {
    width: auto;
    height: auto;
    float: left;
    font-size: 22px;
    text-transform: uppercase;
    color: #ccc;
    padding-bottom: 10px;
    border-bottom: 2px solid #383838;
    margin: 20px 0 10px 0;
}

table tr td.menu-tbl-title {
    text-transform: uppercase;
}

table tr td.menu-tbl-price {
    text-align: right;
    font-size: 20px;
}

.table {
    --bs-table-bg: none;
}
